body {
  font-size: 14px;
}
/**** Fixed Navigation ****/
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/**** Applies to any text bloc not part of the navigation ****/
section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/**** Specifies body text elements ****/

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element1 {
  background-color: blue;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element2 {
  background-color: pink;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element3 {
  background-color: grey;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
